.theme-toggle{
    border-radius:50% !important;
    width: 45px;
    height: 45px;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, 0.3)!important;
    transition: all 0.3s ease;
}

body.light-mode{
    background-color: #f5f5f5 !important;
    color: #333 !important;
}
body.light-mode h1{
 font-size: 3rem;
    color: black;
    margin-bottom: 16px;
}
body.light-mode h3{
    font-size: 1.5rem;
    color: rgba(12, 12, 12, 0.756);
    margin-bottom: 20px;
}
body.light-mode a{
    color:rgb(0, 0, 0);
}
body.light-mode .heading{
    color: rgb(8, 8, 8);
}
body.light-mode .service-box p{
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 1rem;
    line-height: 1.6;
 }
 body.light-mode .service-box{
    background-color: rgba(0, 0, 0) !important;
    border-radius: 15px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
 }

